    </main> <%# /main.container %> 
    <footer class="footer">
        <nav>
            <ul class="footer--items">
                <li>
                    <a href="#">Mentions Légales</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="https://www.oclock.io" target="_blank">Oclock</a>
                </li>

            </ul>
        </nav>
    </footer>
    </body>
</html> 
