<%- include('partials/header') %>

<h2>Vous êtes perdus ? Cette page n'existe pas...</h2>

<p class="simple-msg">Retrouvez <a class="link-default" href="/">la liste de tous nos quiz</a></p>

<%- include('partials/footer') %>