<%- include('partials/header') %>
<h2>Voici la page admin</h2>
<div class="container">

    <div class="row">
        <p class="simple-msg">
            Ceci est un message d'oquiz : 
        </p>
        <blockquote>
            Un grand pouvoir implique de grand responsabilités. 
            
        </blockquote>
    </div>

</div>


<%- include('partials/footer') %>